{% extends "base.html.twig" %}
{% block title %} menu {% endblock %}

{% block body %}

<body>


<style>.jumbotron{
        background-image: url("../img/banner.jpg");
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="color:#FFFFFF">Pizzeria MK</h1>
        <p class="lead" style="color:#FFFFFF">The best quality for the money.</p>
    </div>
</div>

<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-white bg-dark" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-white bg-dark" aria-current="page" href="categories">Pizza's</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white bg-dark" href="contact">Contact</a>
        </li>
    </ul>
</div>

<div class="row gy-3">
    {%  for choice in pizzas %}
        <div class="col-4">
            <div class="card text-white bg-dark" style="width: 18rem;">
                <img src="/img/{{ choice.image }}" class="card-img-top" alt="{{ choice.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ choice.name }}</h5>
                    <a href="menu" class="btn btn-text-white bg-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

</body>
</html>

{% endblock %}
