{% extends "base.html.twig" %}
{% block title %} menu {% endblock %}

{% block body %}

<body>


<style>.jumbotron{
        background-image: url("../img/banner2.jpg");
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="color:#FFFFFF">Pizzeria MK</h1>
        <p class="lead" style="color:#FFFFFF">The best quality for the money.</p>
    </div>
</div>

<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="menu">Pizza's</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
        </li>
    </ul>
</div>

<div class="row gy-3">
    {%  for choice in pizzas %}
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="img/{{ choice }}.jpg" class="card-img-top" alt="{{ choice }}">
                <div class="card-body">
                    <h5 class="card-title">{{ choice }}</h5>
                    <p class="card-text">{{ choice }}</p>
                    <a href="menu" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

</body>
</html>

{% endblock %}
